<a href="https://colab.research.google.com/github/ElenaManari/MLPNS_EManari/blob/main/MLPNS_homework_10_03_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cerco i movie di genere fantasy e li conto

In [5]:
url= 'https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat'

In [6]:
import pandas as pd

In [7]:
colnames = ["title", "genre"]
movies = pd.read_csv(url, sep="::", index_col=0, header=None, names=colnames);
movies

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

                                   title                         genre
1                       Toy Story (1995)   Animation|Children's|Comedy
2                         Jumanji (1995)  Adventure|Children's|Fantasy
3                Grumpier Old Men (1995)                Comedy|Romance
4               Waiting to Exhale (1995)                  Comedy|Drama
5     Father of the Bride Part II (1995)                        Comedy
...                                  ...                           ...
3948             Meet the Parents (2000)                        Comedy
3949          Requiem for a Dream (2000)                         Drama
3950                    Tigerland (2000)                         Drama
3951             Two Family House (2000)                         Drama
3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 2 columns]

In [8]:
movies["genre"]

1        Animation|Children's|Comedy
2       Adventure|Children's|Fantasy
3                     Comedy|Romance
4                       Comedy|Drama
5                             Comedy
                    ...
3948                          Comedy
3949                           Drama
3950                           Drama
3951                           Drama
3952                  Drama|Thriller
Name: genre, Length: 3883, dtype: object

In [11]:
movies.shape

(3883, 2)

In [18]:
target = list('Fantasy')

In [22]:
count = 0;
for i in range(movies.index):
  if target[i] == movies[i]:
    count = count +1

TypeError: ignored