<a href="https://colab.research.google.com/github/ElenaManari/MLPNS_EManari/blob/main/MLPNS23_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
2*2

4

# First Markdown cell
This is a text cell in markdown syntax

# Here we start coding

# Native variables and variables types

## Integers and floats

In [10]:
intVar = 3
type(intVar)
floatVar = 3.0 
type(floatVar)
float2Var = float(intVar)
type(float2Var)

float

In [11]:
intVar + floatVar

6.0

In [12]:
intVar/2

1.5

In [14]:
(intVar + floatVar - intVar)/2

1.5

## strings

In [15]:
print("Hello world")

Hello world

In [17]:
print('''Hello
world''')

Hello
world

In [18]:
strVar = 'Hello world'

In [19]:
print(strVar)

Hello world

## Boolean

In [20]:
True

True

In [21]:
False

False

In [25]:
if intVar == floatVar: 
  print('This is true')
  print(intVar*floatVar)
else:
  print('condition is false')

This is true
9.0

In [27]:
# == is equal?
print(intVar == floatVar)
# greater ? 
print(intVar > floatVar)
# minor? 
print(intVar < floatVar)
# != not equal
print(intVar !=floatVar)
# | = OR oppure + 
(intVar < floatVar)|(intVar > floatVar)
# & = AND oppure *
(intVar < floatVar)& (intVar > floatVar)

True
False
False
False

False

In [28]:
if 0: 
  print('something')

## loops : for and while

In [29]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [31]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

# Variables as objects

In [32]:
strVar

'Hello world'

In [36]:
strVar.upper()

'HELLO WORLD'

In [37]:
floatVar.is_integer()

True

#list

In [42]:
listVar = [intVar, floatVar, strVar, 0, True ]
listVar.append(11)
listVar

[3, 3.0, 'Hello world', 0, True, 11]

In [46]:
listVar[0]

3

In [47]:
'h'in strVar

False

In [48]:
print(strVar)

Hello world

# Wordle

In [61]:
target = list('acres')
guess = list('Acres')
result =list('_____')


for i in range(5):
  if target[i] == guess[i]:
    result[i] = guess[i]
  elif guess[i] in target:
    result[i] = '*'
print(result)

''.join(result)

['_', 'c', 'r', 'e', 's']

'_cres'

# Functions

In [68]:
def wordle(guess,target): 

  """
  A function that checks a word against a target input
    Input : a string
    return : a string
  """
  result =list('_____')

  for i in range(5):
    if target[i] == guess[i]:
      result[i] = guess[i]
    elif guess[i] in target:
      result[i] = '*'
  print(result)

  ''.join(result)
  return

# Importing packages

### pandas
manipulation of tabular data

### numpy
numerical data 
### scipy 
statistica 
### matplotlib 
plots 
### sklearn 
machine learning
### tensorflow
neural networks

In [72]:
import pandas as pd
from pandas import read_csv

In [74]:
url = 'https://raw.githubusercontent.com/fedhere/PyBOOT/master/311_Service_Requests_from_2010_to_Present.csv'

In [76]:
df = pd.read_csv(url)   # data frame = df

In [78]:
df

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,54049402,05/01/2022 12:00:03 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10452.0,1006 GERARD AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.830653,-73.923082,"(40.83065331987539, -73.92308231033165)"
1,54046813,05/01/2022 12:00:09 AM,05/01/2022 12:07:46 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10027.0,364 WEST 127 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.812378,-73.952401,"(40.81237834836466, -73.95240115039357)"
2,54045643,05/01/2022 12:00:17 AM,05/01/2022 12:10:38 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10033.0,593 FT WASHINGTON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.854714,-73.937026,"(40.854713655427595, -73.93702585036192)"
3,54051838,05/01/2022 12:00:21 AM,05/01/2022 12:53:23 AM,NYPD,New York City Police Department,Blocked Driveway,Partial Access,Street/Sidewalk,11214.0,8106 17 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.611332,-74.002028,"(40.611331690801165, -74.00202773560115)"
4,54052808,05/01/2022 12:00:25 AM,05/01/2022 01:01:47 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10304.0,935 TARGEE STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.605614,-74.090992,"(40.605613964168455, -74.09099181031843)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,54049386,05/01/2022 02:04:45 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10031.0,514 WEST 136 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.820160,-73.953158,"(40.82015993990901, -73.95315791994004)"
920,54049413,05/01/2022 02:05:35 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,11231.0,151 RICHARDS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.676566,-74.011100,"(40.6765664690211, -74.01110036402942)"
921,54052476,05/01/2022 02:05:38 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11208.0,37 HEMLOCK STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.688911,-73.872353,"(40.68891081481749, -73.87235278581583)"
922,54053504,05/01/2022 02:06:13 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Overnight Commercial Storage,Street/Sidewalk,11373.0,60-42 BOOTH STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.731194,-73.869533,"(40.73119351356087, -73.86953320857873)"
923,54048300,05/01/2022 02:06:26 AM,NaN,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Music,Street/Sidewalk,11210.0,723 EAST 27 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.633076,-73.950965,"(40.633076468003175, -73.95096540810518)"

In [79]:
df.shape

(924, 41)

In [80]:
df.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [81]:
df.iloc[0]

Unique Key                                                       54049402
Created Date                                       05/01/2022 12:00:03 AM
Closed Date                                                           NaN
Agency                                                               NYPD
Agency Name                               New York City Police Department
Complaint Type                                        Noise - Residential
Descriptor                                               Loud Music/Party
Location Type                                  Residential Building/House
Incident Zip                                                      10452.0
Incident Address                                       1006 GERARD AVENUE
Street Name                                                 GERARD AVENUE
Cross Street 1                                           EAST  164 STREET
Cross Street 2                                           EAST  165 STREET
Intersection Street 1                                    EAST  164 STREET
Intersection Street 2                                    EAST  165 STREET
Address Type                                                      ADDRESS
City                                                                BRONX
Landmark                                                    GERARD AVENUE
Facility Type                                                         NaN
Status                                                        In Progress
Due Date                                                              NaN
Resolution Description                                                NaN
Resolution Action Updated Date                                        NaN
Community Board                                                  04 BRONX
BBL                                                          2024770001.0
Borough                                                             BRONX
X Coordinate (State Plane)                                      1005536.0
Y Coordinate (State Plane)                                       241916.0
Open Data Channel Type                                             ONLINE
Park Facility Name                                            Unspecified
Park Borough                                                        BRONX
Vehicle Type                                                          NaN
Taxi Company Borough                                                  NaN
Taxi Pick Up Location                                                 NaN
Bridge Highway Name                                                   NaN
Bridge Highway Direction                                              NaN
Road Ramp                                                             NaN
Bridge Highway Segment                                                NaN
Latitude                                                        40.830653
Longitude                                                      -73.923082
Location                          (40.83065331987539, -73.92308231033165)
Name: 0, dtype: object

In [82]:
df.iloc[:,2]

0                         NaN
1      05/01/2022 12:07:46 AM
2      05/01/2022 12:10:38 AM
3      05/01/2022 12:53:23 AM
4      05/01/2022 01:01:47 AM
                ...
919                       NaN
920                       NaN
921                       NaN
922                       NaN
923                       NaN
Name: Closed Date, Length: 924, dtype: object

In [83]:
url = 'https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat'

In [91]:
colnames = ["Title","Genres"]
df = pd.read_csv(url, sep='::', index_col = 0, header = None, name = colnames)

TypeError: ignored

In [88]:
df

                                       1                             2
0
1                       Toy Story (1995)   Animation|Children's|Comedy
2                         Jumanji (1995)  Adventure|Children's|Fantasy
3                Grumpier Old Men (1995)                Comedy|Romance
4               Waiting to Exhale (1995)                  Comedy|Drama
5     Father of the Bride Part II (1995)                        Comedy
...                                  ...                           ...
3948             Meet the Parents (2000)                        Comedy
3949          Requiem for a Dream (2000)                         Drama
3950                    Tigerland (2000)                         Drama
3951             Two Family House (2000)                         Drama
3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 2 columns]